In [30]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import matplotlib.pyplot as plt
import numpy as np

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url = 'https://data-class-mars-challenge.s3.amazonaws.com/Mars/index.html'
browser.visit(url)

In [4]:
html = browser.html
tables = pd.read_html(html)
tables

[        id terrestrial_date   sol   ls  month  min_temp  pressure
 0        2       2012-08-16    10  155      6     -75.0     739.0
 1       13       2012-08-17    11  156      6     -76.0     740.0
 2       24       2012-08-18    12  156      6     -76.0     741.0
 3       35       2012-08-19    13  157      6     -74.0     732.0
 4       46       2012-08-20    14  157      6     -74.0     740.0
 ...    ...              ...   ...  ...    ...       ...       ...
 1862  1889       2018-02-23  1973  133      5     -78.0     730.0
 1863  1892       2018-02-24  1974  134      5     -77.0     729.0
 1864  1894       2018-02-25  1975  134      5     -76.0     729.0
 1865  1893       2018-02-26  1976  135      5     -77.0     728.0
 1866  1895       2018-02-27  1977  135      5     -77.0     727.0

 [1867 rows x 7 columns]]

In [5]:
tables = pd.read_html(url)
tables

[        id terrestrial_date   sol   ls  month  min_temp  pressure
 0        2       2012-08-16    10  155      6     -75.0     739.0
 1       13       2012-08-17    11  156      6     -76.0     740.0
 2       24       2012-08-18    12  156      6     -76.0     741.0
 3       35       2012-08-19    13  157      6     -74.0     732.0
 4       46       2012-08-20    14  157      6     -74.0     740.0
 ...    ...              ...   ...  ...    ...       ...       ...
 1862  1889       2018-02-23  1973  133      5     -78.0     730.0
 1863  1892       2018-02-24  1974  134      5     -77.0     729.0
 1864  1894       2018-02-25  1975  134      5     -76.0     729.0
 1865  1893       2018-02-26  1976  135      5     -77.0     728.0
 1866  1895       2018-02-27  1977  135      5     -77.0     727.0

 [1867 rows x 7 columns]]

In [6]:
type(tables)

list

In [13]:
mars_df = tables[0]
mars_df.head(20)

     id terrestrial_date  sol   ls  month  min_temp  pressure
0     2       2012-08-16   10  155      6     -75.0     739.0
1    13       2012-08-17   11  156      6     -76.0     740.0
2    24       2012-08-18   12  156      6     -76.0     741.0
3    35       2012-08-19   13  157      6     -74.0     732.0
4    46       2012-08-20   14  157      6     -74.0     740.0
5    57       2012-08-21   15  158      6     -78.0     740.0
6    68       2012-08-22   16  158      6     -77.0     740.0
7    79       2012-08-23   17  159      6     -76.0     742.0
8   112       2012-08-27   21  161      6     -74.0     741.0
9   114       2012-08-28   22  162      6     -74.0     742.0
10  123       2012-08-29   23  162      6     -75.0     741.0
11  134       2012-08-30   24  163      6     -75.0     742.0
12  145       2012-08-31   25  163      6     -75.0     743.0
13  156       2012-09-01   26  164      6     -76.0     745.0
14  163       2012-09-02   27  164      6     -75.0     743.0
15  170       2012-09-03   28  165      6     -75.0     745.0
16  171       2012-09-04   29  166      6     -75.0     747.0
17  172       2012-09-05   30  166      6     -74.0     747.0
18  173       2012-09-06   31  167      6     -74.0     745.0
19  175       2012-09-08   33  168      6     -73.0     748.0

In [15]:
mars_df.dtypes

id                    int64
terrestrial_date     object
sol                   int64
ls                    int64
month                 int64
min_temp            float64
pressure            float64
dtype: object

In [20]:
mars_df.terrestrial_date = mars_df.terrestrial_date.astype('datetime64')

In [21]:
mars_df.dtypes

id                           int64
terrestrial_date    datetime64[ns]
sol                          int64
ls                           int64
month                        int64
min_temp                   float64
pressure                   float64
dtype: object

# How many months exist on Mars?

In [28]:
total_months = mars_df['month'].value_counts()
total_months.sort_index()

1     174
2     178
3     192
4     194
5     149
6     147
7     142
8     141
9     134
10    112
11    138
12    166
Name: month, dtype: int64

# Which month, on average, has the lowest temperature? The highest?

# Which month, on average, has the lowest atmospheric pressure? The highest?

# How many terrestrial days exist in a Martian year? A visual estimate within 25% was made.